body {
    font-size: 17px;
    color: #333333;
    letter-spacing: 0.015em;
    font-family: "Palatino Linotype";
}

li {
    font-size: 17px;
}

.small-caps {
    font-variant: small-caps;
}

.author-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.author-block {
    margin: 0px 0px 0px 0px;
    /* You can adjust this value */
}

.image-container {
    max-height: 400px;
    /* You can adjust this value */
    overflow: hidden;
}

.image-constrained {
    max-height: 100%;
}

.video-container {
    position: relative;
    max-height: 400px;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    overflow: hidden;
}

.video-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #2c8df5;
    text-decoration: none;
}

.custom-link {
    color: #333333;
}

a:hover {
    color: #FF9B00;
}

.custom-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    /* Increase this value to create larger left margin */
    padding-right: 100px;
    /* Increase this value to create larger right margin */
}

.definition-box {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.definition-box>p {
    margin: 0;
}

.definition-box>span {
    display: inline-block;
    vertical-align: middle;
}

.definition-box i {
    margin-right: 10px;
    color: #ffbb00;
    /* Optional: Change the color of the icon */
}